// Generated using xcconfig-extractor 0.5.0 by Toshihiro Suzuki - https://github.com/toshi0383/xcconfig-extractor
PRODUCT_BUNDLE_IDENTIFIER = fuya.dx-hacks
CODE_SIGN_STYLE = Automatic
TARGETED_DEVICE_FAMILY = 1,2
DEVELOPMENT_TEAM = 65Z68H8WQ6
INFOPLIST_FILE = dx-hacks/Info.plist
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
PRODUCT_NAME = $(TARGET_NAME)
SWIFT_VERSION = 5.0
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
COPY_PHASE_STRIP = NO
CLANG_ANALYZER_NUMBER_OBJECT_CONVERSION = YES_AGGRESSIVE
CLANG_WARN_NON_LITERAL_NULL_CONVERSION = YES
CLANG_WARN_UNGUARDED_AVAILABILITY = YES_AGGRESSIVE
CLANG_WARN_DOCUMENTATION_COMMENTS = YES
CLANG_WARN_INFINITE_RECURSION = YES
ALWAYS_SEARCH_USER_PATHS = NO
IPHONEOS_DEPLOYMENT_TARGET = 14.4
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR
CLANG_WARN_OBJC_LITERAL_CONVERSION = YES
CLANG_ENABLE_OBJC_WEAK = YES
CLANG_CXX_LIBRARY = libc++
CLANG_ENABLE_OBJC_ARC = YES
GCC_C_LANGUAGE_STANDARD = gnu11
MTL_FAST_MATH = YES
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
GCC_NO_COMMON_BLOCKS = YES
CLANG_WARN_RANGE_LOOP_ANALYSIS = YES
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES
CLANG_WARN_UNREACHABLE_CODE = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
CLANG_ENABLE_MODULES = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_STRICT_PROTOTYPES = YES
ENABLE_STRICT_OBJC_MSGSEND = YES
CLANG_CXX_LANGUAGE_STANDARD = gnu++14
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
CLANG_WARN_INT_CONVERSION = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER = YES
SDKROOT = iphoneos
GCC_WARN_UNUSED_FUNCTION = YES
CLANG_ANALYZER_NONNULL = YES
GCC_WARN_UNUSED_VARIABLE = YES
CLANG_WARN_SUSPICIOUS_MOVE = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_COMMA = YES
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING = YES

